.title {
}

.author {
	font-size: 12;
	color: red;
}

.mainTitle {
	font-size: 18
}

.allItems {
	margin: 5;
}

.stackBody { 
	/*	margin-bottom: 30;
		margin-top: 30;*/
	padding-bottom: 20;
	padding-top: 20;
}